AWS_ACCESS_KEY_ID=AKIA5RJR3GITRNYEMVMF
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=ap-south-1
S3_BUCKET_NAME=my-s3.1408
CLOUDFRONT_DISTRIBUTION_ID=E3ABCDEF123XYZ
NODE_ENV=production
APP_NAME=frontend-app
